*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}